<ion-app>
  <ion-menu type="reveal" side="start" contentId="main-content">
    <ion-header>
      <ion-toolbar>
        <ion-title>
          <div class="container">
            <span>Collections</span>
            <ion-img
              src="../assets/icon/favicon.png"
              alt="The plus favicon"
              class="img-title"
            ></ion-img>
          </div>
        </ion-title>
      </ion-toolbar>
    </ion-header>
    <ion-content>
      <ion-list>
        <ion-menu-toggle>
          <ion-item lines="none" routerLink="/settings">
            <ion-icon name="settings-outline" slot="start"></ion-icon>
            <ion-label>Settings</ion-label>
          </ion-item>
        </ion-menu-toggle>
        <ion-menu-toggle>
          <ion-item lines="none" (click)="onLogout()" button>
            <ion-icon name="exit" slot="start"></ion-icon>
            <ion-label>Logout</ion-label>
          </ion-item>
        </ion-menu-toggle>
      </ion-list>
    </ion-content>
  </ion-menu>
  <ion-router-outlet class="ion-page" id="main-content"></ion-router-outlet>
</ion-app>
